.flex-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 300px;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-horiz {
  display: flex;
  margin: 10px 50px 0 50px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: top;
}

.blog-date {
  margin-bottom: 8px;
}

nav a {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

#site-header {
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

body.main-gallery {
  max-width: 1600px;
}

.header {
  text-align: center;
  padding: 32px;
}

.header nav a {
  padding: 2px 7.6px 0;
}



.blog-post {
  display: flex;
  flex-direction: column;
  padding: 10px 30px 10px 30px;
  align-items: center;
  justify-content: center;
}

.flex-item-title {
 flex: 75%; 
 padding: 20px 0px 0;
}

.blog-text {
  width: 100%;
}

.footer-hr {
  height: 1px;
  margin: 0 20px 0 80px;
  background-color: red;
  border: none;
}

hr {
  height: 1px;
  margin: 0 1px 0 1px;
  background-color: lightgrey;
  border: none;
}


h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.3em;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6em;
}

.blog-title {
  align: left;
}

a.blog_title_link {
  font-size: 1.3em;
  color: #047375;
  padding: 20px 0 20px 0;
}

a  {
  color: #047375;
  text-decoration: none;
  font-weight: bold;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
