{{ define "main" }}

<style type="text/css" media="screen">
li {
  margin: auto;
  list-style-type: square;
}
</style>

<h2>{{ .Title }}</h2>

<!-- gallery image -->
<div>
  <img src="{{ .Site.BaseURL }}{{ .Params.image }}" width="800px" alt=" {{ .Params.image_alt }}"/>
</div>

<ul>
  <li>
    <strong>Description: </strong> {{ .Params.description }}
  </li>
  <li>
   <strong>Date: </strong>{{ .Date.Format "Monday, 2 January 2006"  }}
  </li>
  <li> <strong>Tags: </strong>
    {{ if .Params.tags }}
    {{ range .Params.tags }}
      <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    {{ else }}
      This post is untagged. 
    {{ end }}
    [<a href="{{ .Site.BaseURL }}tags">all tags</a>]
  </li>
</ul>
{{ end }}
