{{ define "main" }}

<style type="text/css" media="screen">
  li {
    margin-bottom: 1.2em;
  }
</style>

<h2>{{ .Title }}</h2>

<div class="blog-date">
  {{ .Date.Format "Monday, 2 January 2006"  }}
</div>

<!-- header image -->
<img src="{{ .Site.BaseURL }}{{ .Params.index_image }}" width="600px" alt=" {{ .Params.index_image_alt }}"/>

{{ .Content }}

<hr>
  {{ if .Params.tags }}
  <div style="color: gray; margin-top: 5px; margin-bottom: 5px; font-size: 0.9em;">
    This post is tagged with: 
        {{ range .Params.tags }}
        <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
  {{ else }}
    <div style="background-color: rgb(240, 240, 240); margin-top: 20px;">
      This post is untagged. 
    </div>
  {{ end }}
  </div>

{{ end }}
