{{ define "main" }}

  <main>
    <div>
      <h2>{{ .Title }}</h2>
      {{ .Content }}
      <ul>
      {{ range .Pages.ByDate.Reverse }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
    </div>
  </main>

{{ end }}
