<div class="flex-container">
  <a class="blog_title_link" href="{{ .Permalink }}">{{ .Title }}</a>
  <img src="{{ .Site.BaseURL }}{{ .Params.index_image }}" alt="{{ .Params.index_image_alt }}"> 
  <p>
    {{ .Summary }}
    <a href="{{ .Permalink }}">Read more...</a>
  </p>
</div>

