<div class="flex-footer">
  <div>
    <p style="color: gray; font-size:0.75em;">
      {{ .Site.Copyright }}
    </p>
  </div>
  <div>
    <p style="font-size: 0.75em; color: gray">Site design by <a href="https://twentyfoursoftware.co.uk">Twenty Four Software</a></p>
  </div>
</div>
