  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ with .Site.Params.description -}}
      <meta name="description" content="{{ . }}">
    {{ end }}
    <link rel="stylesheet" href="{{ "css/styles.css" | absURL }}" media="screen" title="no title" charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
    <title>{{ $.Site.Title }} - {{ .Title }}</title>
  </head>
