    <!-- Header -->
    <div class="header">
      <h1><a id="site-header" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      <nav>
        <a href="{{ .Site.BaseURL }}/about">About</a>
        <a href="{{ .Site.BaseURL }}/blog">Blog</a>
        <a href="{{ .Site.BaseURL }}/contact">Contact</a>
        <a href="https://www.joannalemon.com/etsy-shop/">Shop</a>
      </nav>
    </div>
    <hr style="margin: 1px 6px 1px 6px;">
