{{ define "main" }}

<div class="row">
  {{ range where .Site.RegularPages "Section" "gallery" }}
    <div class="column">
      <a href="{{ .Site.BaseURL }}gallery/{{ .Params.filename }}">
        <img src="{{ .Site.BaseURL }}{{ .Params.image }}" style="width:100%" alt="{{ .Params.description }}">
      </a>
    </div>
  {{ end }}
</div>
{{ end }}
